<table>
    <tr>
        <td>
            <ngx-charts-bar-vertical-normalized
             [results]="barChartData"
             [legendTitle]="legendTitle"
             [view]="view"
             [xAxis]="xAxis"
             [yAxis]="yAxis"
             [legend]="legend"
             [xAxisLabel]="'fff'"
             [yAxisLabel]="legendTitleMulti"

             >
            </ngx-charts-bar-vertical-normalized>
        </td>
    </tr>

    <tr>
        <!-- <td>
          <ngx-charts-bar-horizontal-stacked [results]="productsSalesMulti"></ngx-charts-bar-horizontal-stacked>
        </td> -->
        <td>
            <ngx-charts-line-chart
            [legendTitle]="legendTitle"
             [results]="lineChartData"
             [view]="view"
             [xAxis]="xAxis"
             [yAxis]="yAxis"
             [legend]="legend"
             [showXAxisLabel]="true"
             [showYAxisLabel]="true"
             [showRefLabels]="true"
             [xAxisLabel]="'Date'"
             [yAxisLabel]="'Problems'"

             >
            </ngx-charts-line-chart>
        </td>
    </tr>
</table>
